@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 1em;
    font-size: 15px;
} 

.main-title {
    text-align: center;
    padding-top: 2em;
}

.toggle-div {
    display: flex;
    justify-content: space-between;
    margin: 3em;
    
}


/*toggle switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
    width: 60px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*Plan pricing and info*/
.plans {
    display: flex;
}

.plan {
    width: 350px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
    border-radius: .5em;
    margin: 1em;
    padding: 1em 2em;
    border: 1px solid black;
}

.plan-title {
    padding-top: 2em;
}

.hide {
    display: none;
}

.price {
    font-size: 3.5em;
    margin: .5em 0;
}

.plan-highlighted, .button {
    color: white;
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.plan-highlighted .button {
    background: white;
}

.plan-features {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.plan-feature {
    list-style: none;
    padding: 1em 0; 
    border-bottom: 1px solid hsl(234, 14%, 74%);
}

.top-border {
    border-top: 1px solid hsl(234, 14%, 74%);
}

/*button styling */
.button {
    width: 100%;
    margin: 2em 0;
    border-radius: .5em;
    padding: 1em 0;
    letter-spacing: 2px;

}
.button a {
    cursor: pointer;
    color: white;
}

.plan-highlighted .button a{
    color:  hsl(237, 63%, 64%);
}

@media screen and (min-width: 375px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }
    .annual, .monthly { 
        margin: auto;
     }
  
}

@media screen and (min-width: 768px) {
    .plans {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .plan {
        margin: 1em 0;
    }

    .plan-highlighted {
        height: 33em;
        padding-top: 2.20rem;
    }

    .annual, .monthly {
        padding: 6px 35px;
    }
    .annual {
        margin: 0 0 0 auto;
    }
    
    .monthly {
        margin: 0 auto 0 0;
        
    } 
}

